
/* Container for the page */
.page2-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px 50px;
    background-color:  rgb(241, 244, 255);
    height: 550px;
  }

  .center-section{
    margin-top: 120px;
  }
  
  /* Header styles */
  .page2-container p {
    font-size: 16px;
    font-weight: 400;
    color: black;
  }
  
  .page2-container h1 {
    font-size: 42px;
    margin-bottom: 20px;
    color: black;
  }
  
  /* Blue line under heading */
  .page2-hr {
    background-color:  rgb(19, 24, 48);
    border: none;
    border-radius: 5px;
    width: 50px;
    padding: 2px 3px;
    margin-bottom: 20px;
  }
  
  /* Toggle button group */
  .page2-toggle {
    margin-top: 15px;
  }

  
  /* Main content layout */
  .page2-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* Left section (Image) */
  .page2-left {
    width: 60%;
  }
  
  .page2-left img {
    max-width: 100%;
    height: auto;
  }
  
  /* Right section (Text + Button) */
  .page2-right {
    width: 40%;
    text-align: left;
    padding: 50px;
  }
  
  .page2-right h1 {
    font-size: 30px;
  }
  
  .page2-right p {
    font-size: 15px;
    font-weight: 300;
  }
  
  /* Apply Now Button */
  .page2-button {
    background-color: rgb(19, 24, 48);
    margin: 20px;
    margin-left: 0px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .page2-button:hover {
    background-color: rgb(41, 45, 66);
  }
  
  .center-section CardContent{
    background-color: aliceblue;
  }